# NestJS + Next rely on a few packages being hoisted to the root node_modules.
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@nestjs/*
public-hoist-pattern[]=reflect-metadata
